<div class="container">
    <h3 class="text-center">Reset Password</h3>
    <div *ngIf="successMessage" class="alert alert-success text-center">
        Success: Your password has been successfully reset!
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger text-center">
        Error: Looks like you have the wrong link or your link has expired.
    </div>
    <div *ngFor="let err of validationErrors" class="alert alert-danger text-center">
        {{err.msg}}
    </div>
    <div *ngIf="!successMessage">
        <form *ngIf="!successMessage" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-well">
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="name">Password:</label>
                    <div class="col-9">
                        <input type="password" [(ngModel)]="password" class="form-control" id="password"
                            name="password">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-3 col-form-label" for="name">Confirm Password:</label>
                    <div class="col-9">
                        <input type="password" [(ngModel)]="password2" class="form-control" id="password2"
                            name="password2">
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-dark btn-lg" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>