h3 {
    margin: 40px auto;
}
.form-well {
    margin: 0 auto 50px auto;
    padding: 20px 50px;
    background: whitesmoke;
    border: 2px solid darkgray;
    border-radius: 10px;
}
label {
    font-size: 20px;
}
button {
    margin-bottom: 30px;
}