<h2 mat-dialog-title>Give us a feedback</h2>
<p><strong>How was your experience at {{event.event_title}} on {{event.date_from | date:'fullDate'}} recently? </strong></p>
  <div class="rating">
      <div class="rate">
          <input type="radio" id="star5" name="rate" [(ngModel)]="data.feedback_rating" [value]="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" [(ngModel)]="data.feedback_rating" [value]="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" [(ngModel)]="data.feedback_rating" [value]="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" [(ngModel)]="data.feedback_rating"[value]="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" [(ngModel)]="data.feedback_rating" [value]="1" />
          <label for="star1" title="text">1 star</label>
        </div>
  </div>
<div mat-dialog-content>
  
    <mat-form-field>
        <input matInput
                placeholder="Event Feedback"
               [(ngModel)]="data.feedback_desc">
    </mat-form-field>
 
  </div>

<div mat-dialog-actions>
    <button mat-button (click)="save()">Save</button>

</div>
