<article class="l-Wrapper">
  
    <div class="l-Header">
      <div class="l-Header-col">
        <a href="http://www.sonjastrieder.com" target="_blank">
          <h1 class="image">
            <span class="u-shadow">
                <img src="../../assets/image/feature-720x480.jpg"/>
            </span>
            
          </h1>
        </a>
      </div>
      <div class="l-Header-col Contact">
          <h1 class="l-Section-title ">Event Title</h1>
        <div>Toronto, Ontario</div>
        <div class="text-center">
            <button class="btn btn-dark btn-lg" type="submit" >Register</button>
          </div>
      </div>
    </div>
  
    <section class="l-Section">
      <h2 class="l-Section-title  u-hidden@sm-down">Description</h2>
      <div class="l-Section-content">
        <p>hihiklkjsdasdkjlskd kljlkdjaijdiwklsdih;lnx,asnjshdkhjkhdjkashdkjashdjkjhjk.</p>
      </div>
    </section>
  
    <section class="l-Section">
      <h2 class="l-Section-title ">Date - Time</h2>
      <div class="l-Section-content">
        <ul>
          <li>Start Date <strong class="Tag">99-99-9999</strong></li>
          <li>Start time <strong class="Tag">99:99 PM/AM</strong></li>
          <li>End Time   <strong class="Tag">99:99 PM/AM</strong></li>
          <li>End Date   <strong class="Tag">99-99-9999</strong></li>
        </ul>
      </div>
    </section>
  
    <section class="l-Section">
      <h2 class="l-Section-title ">Location</h2>
      <div class="l-Section-content">
        <h3>Venue Name</h3>
        <a class="u-link" href="#" target="_blank">jjjjjjjjj</a>
  
        <h3>Address</h3>
        <a class="u-link" href="#" target="_blank">999 ahidsj</a> 
        
      </div>
    </section>
  
    <section class="l-Section">
      <h2 class="l-Section-title ">Attendee Limit</h2>
      <div class="l-Section-content">
        <p>12-13.</p>
      </div>
    </section>

  </article>
  <div class="l-Wrapper u-keyline">
      <div class="l-Footer">
        <div class="l-Footer-col">
          <strong class="Tag">hhhhhhhhh</strong>
        </div>
        <div class="l-Footer-col Contact">
          
        </div>
      </div>
    </div>