
<div class="top-feature slideshow parbase">
<div id="top_feature_copy" class="carousel slide ratio-3-1  " data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
                <img src="../../assets/image/feature-720x480.jpg"/>
        </div>
    </div>
</div>
</div>
<div class="title parbase">
  <div>
    <h1 class="title">Event Example </h1>
  </div>
</div>

<div class="column-control column-control-new parbase">
<div class="column-control-wrapper  ">
    <div class="row">
        
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="column_content">
                    <div class="column_content_content">

    
    
    
    <div class="text parbase">
<p><span class="lead-grey"><br />
 Advance the frontiers of applied science and provide solutions to real-world problems. Graduates with the foundation and work experience to pursue your passion in chemical, environmental, pharmaceutical or biological sciences.</span></p>

    </div>
                    </div>
                </div>
              </div>
    </div>
  </div>
</div>