<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">
    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Created for PRJ666 by:</h6>
        <ul>
          <li>Harsh Arora</li>
          <li>Luca Padula</li>
          <li>Kate Nguyen</li>
          <li>Alan Vuong </li>
          <li>YuMing Zhang</li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful Links</h6>
        <ul>
          <li><a href="https://elections.ca/" target="_blank">Elections Canada</a></li>
          <li><a href="https://votecompass.cbc.ca/canada/" target="_blank">Vote Compass 2019</a></li>
          <li><a
              href="https://www.macleans.ca/politics/2019-federal-election-platform-guide-where-the-parties-stand-on-everything/"
              target="_blank">2019 Federal Election Platform Guide</a></li>
        </ul>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Development</h6>
        <table id="contact_table">
          <tr>
            <td>
              <fa-icon [icon]="faCode"></fa-icon>
            </td>
            <td><a href="https://github.com/AltiV/PRJ666-CanPolls" target="_blank">GitHub</a></td>
          </tr>
        </table>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <table id="contact_table">
          <tr>
            <td>
              <fa-icon [icon]="faHome"></fa-icon>
            </td>
            <td>1750 Finch Ave E, North York, ON M2J 2X5</td>
          </tr>
          <tr>
            <td>
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </td>
            <td><a href="mailto:vuong.alan.t@gmail.com">vuong.alan.t@gmail.com</a></td>
          </tr>
        </table>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <p>
      <span>"{{quote}}"</span>
      -
      <span>{{name}}</span>
    </p>

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-7 col-lg-8">

        <!--Copyright-->
        <p class="text-center text-md-left">© 2019 Copyright:
          <a href="#">
            <strong>CanPolls</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <!-- <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-google-plus-g"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="btn-floating btn-sm rgba-white-slight mx-1">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div> -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->