.unauthorized-message {
    margin: 200px auto;
}
h2 {
    margin: 40px auto;
}
p {
    font-size: 20px;
}
form {
    margin: 50px auto;
}
label {
    font-size: 20px;
}
button {
    margin-bottom: 20px;
}
table button {
    margin: -5px auto;
    padding: 3px 6px;
}
.btn-bwm{
    background-color:red ;
    border-color: red;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    height: 70px;
    width: 200px;
}
.btn-bwm:hover, .btn-bwm:focus, .btn-bwm:active{
    border-color: red;
    background-color: red;
}
input[type="file"]{
    display: none;
}

.image-upload-container{
    cursor: pointer;
}

.img-preview-container{
    background-color: #f7f7f7;
    position: relative;
    margin-left: 50px;
}
.img-preview{
    background: center center no-repeat;
    background-size: contain;
    height: 116px;
    width: 116px;
}
.container-fluid {
    width: 70%;
    margin-bottom: 20px;
}
h3 {
    margin-bottom: 20px;
}
div.d-md-none {
    margin-bottom: 20px;
}
div.d-md-none button {
    margin: 0 auto;
    display: block;
}
div.d-md-none #collapseFilters {
    margin-top: 15px;
}
table {
    overflow-y: scroll;
}
.sidebar-sticky h4 {
    margin: 5px auto;
}
.sidebar-sticky h5 {
    margin-bottom: 10px;
}
.custom-checkbox label {
    font-size: 17px;
}

@media (max-width: 1199px) {
    .container-fluid {
        width: 100%;
    }
    .custom-checkbox label {
        font-size: 16px;
    }
}
