.container-fluid {
    padding: 0;
}
.jumbotron {
    margin: 0;
    padding: 150px 50px;
    height: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.display-5 {
    margin-bottom: 75px;
}
a.btn, .submit-button {
    border-radius: 12px;
    padding: 4px 16px;
    border: 2px solid #707070;
    background: #DCDCDC;
}
.form-panel {
    padding: 75px 15px;
}
form {
    margin: 50px 10%;
}
.alert button {
    display: block;
    margin: 10px auto;
}