.navbar, .navbar-dark, .bg-dark {
    height: 5em;
    color: #8B0000;
    background: #8B0000;
    background-color: #8B0000;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    color: #FFFFFF;
    font-size: 18px;
}
