.navbar, .navbar-dark, .bg-dark {
    min-height: 5em;
    color: #8B0000;
    background: #8B0000;
    background-color: #8B0000;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    color: #FFFFFF;
    font-size: 18px;
}

.imgClass {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;

    /* margin-left: auto; */
    /* margin-right: auto; */
}