<div class="center">
    <h2>Welcome to Our Events</h2>
    <p routerLinkActive="active">Do you want to create your own event? <a routerLink="/createEvent">Create Event</a></p>
  </div>
  <div class="container" >
      <div class="row">
          <div class="col-md-12">
              <input class="form-control" id="EventSearch" name="EventSearch" type="text" placeholder="Search for Political Events"  /><br />
              <div class="button button-hover">
              <button class="button1" id="button1">Official Event</button>
              <button class="button2" id="button2">Created Events</button>
              </div>
              <div class="list">
                <ul class ="left">
                  <li routerLinkActive="active">
                    <div class="event-browsing">
                    <div class="details">
                      <p style="font-size:1rem">Event Title</p>
                      <i> August 21, 2019</i>
                      <p>This is an example of event description</p>
                    </div>
                    <a routerLink="/submittedEvent">More</a>
                  </div>
                  </li>
                  <li routerLinkActive="active">Agnes <a routerLink="/submittedEvent">More</a></li>
                  <li routerLinkActive="active">Billy <a routerLink="/submittedEvent">More</a></li>
                  <li routerLinkActive="active">Bob <a routerLink="/submittedEvent">More</a></li>
                  <li routerLinkActive="active">Calvin <a routerLink="/submittedEvent">More</a></li>
                  <li routerLinkActive="active">Christina <a routerLink="/submittedEvent">More</a></li>
                  <li routerLinkActive="active">Cindy <a routerLink="/submittedEvent">More</a></li>
                </ul>
            </div>
            <div class="gallery">
                
                  <img src="../../assets/image/feature-720x480.jpg">
                
                <div class="desc">Add a description of the image here</div>
              </div>
              
          </div>
      </div>
  </div>
  <br /><br />