<div class="center">
    <h2>Welcome to Our Events</h2>
    <p routerLinkActive="active">Do you want to create your own event? <a routerLink="/createEvent">Create Event</a></p>
  </div>
  <div class="container" >
      <div class="row">
          <div class="col-md-12">
              <input class="form-control" id="EventSearch" name="EventSearch" type="text" placeholder="Search for Political Events"  /><br />
              <div class="button button-hover">
              <button class="button1" id="button1">Official Events</button>
              <button class="button2" id="button2">Created Events</button>
              </div>
              <div class="list">
                <ul class ="left">
                  <li>Adele</li>
                  <li>Agnes</li>
                  <li>Billy</li>
                  <li>Bob</li>
                  <li>Calvin</li>
                  <li>Christina</li>
                  <li>Cindy</li>
                </ul>
            </div>
            <div class="gallery">
                <a target="_blank" href="img_5terre.jpg">
                  <img src="img_5terre.jpg" alt="Cinque Terre" width="600" height="400">
                </a>
                <div class="desc">Add a description of the image here</div>
              </div>
              
          </div>
      </div>
  </div>
  <br /><br />