<main>
    <div class="container form-container text-center">
        <h3>Reset Password</h3>
        <div class="form-group">
            <small id="emailHelp" class="form-text text-muted">
                Enter your email address and we'll send you a password reset link.
            </small>
            <input type="email" [(ngModel)]="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Enter email" autofocus>
        </div>
        <button class="btn btn-dark" (click)="submitEmail()">Send password reset link</button>
    </div>
    <div class="container message-container text-center">
        <div *ngIf="successMessage" class="alert alert-success">
            Success: if that email is registered with us, we have sent a password reset link to it
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}
        </div>
    </div>
</main>