.form-container {
    margin: 80px auto;
    padding: 20px;
    max-width: 700px;
    background: whitesmoke;
    border: 2px solid darkgray;
    border-radius: 10px;
}
h3 {
    margin-bottom: 20px;
}
.form-text {
    margin-bottom: 10px;
    font-size: 14px;
}
button {
    margin-top: 15px;
}
.message-container {
    margin: -15px auto 40px auto;
    width: 50%;
}