.jumbotron {
    margin: 0em;
    background-color: #DB7093;
}
.container {
    margin: 1em;
    display: block;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}


table {
    margin: 10px;
}

table, th, td {
    border: 2px solid black;
    padding: 10px;
    border-collapse: collapse;
}

#filterPane {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.filterOptions * {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 2.5px;
}

#resultsDiv {
    border: 1px solid black;
}

#resultsTable {
    border-bottom: 1px solid #666666;
    margin-left: auto;
    margin-right: auto;
}

thead td {
    margin-left: auto;
    margin-right: auto;
}

#calendarDiv {
    margin-left: auto;
    margin-right: auto;
    color: silver;
    text-align: center;
    width:500px;
}

