.jumbotron {
    margin: 0em;
    background-color: #DB7093;
}
.container {
    margin: 1em;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
}

#filterPane {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.filterOptions * {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 2.5px;
}