<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to CanPolls</h1>
    <p class="lead">CanPolls is a Canadian poitical tool to provide individuals with information on polling and
      electoral information, as well as provide news on any upcoming poitical events. Create an account or log in to
      gain access to user-submitted events, where you can get involved with politics in your community.</p>
  </div>

    <!-- Search form -->
    <!-- <div class="container">
      <form class="waves-light" mdbWavesEffect>
        <div class="md-form" id="searchWidget">
          <input id="searchWidget" class="form-control" type="text"
            placeholder="Enter Postal Code, City, Region, Political Representative, etc.">
        </div>
      </form>
    </div> -->
</div>

<!-- <div>
  <input type="radio" name="regionType" id="federal" checked> Federal
  <input type="radio" name="regionType" id="provincial"> Provincial
  <input type="radio" name="regionType" id="municipal"> Municipal
</div> -->

<app-esri-map></app-esri-map>

<div>
  <div>More information about the selected region will be displayed here.</div>
</div>