.jumbotron {
    margin: 0em;
    background-color: #DB7093;
}
.container {
    margin: 1em;
}

h1 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
}

table, td, th {
    border: 1px solid black;
    padding: 5px;
}