.container {
    padding: 5px;
}
h3 {
    margin: 10px auto;
}
form p.lead {
    margin: 6px auto;
    font-size: 17px;
}
.alert-danger {
    font-size: 16px;
}
.form-well {
    margin: 0 auto 15px auto;
    padding: 20px 40px 0px 40px;
    background: whitesmoke;
    border: 2px solid darkgray;
    border-radius: 10px;
}
label {
    font-size: 20px;
}
.form-asterisk {
    color: rgb(253, 63, 63);
}
button {
    margin-bottom: 10px;
}

@media (max-width: 991px) {
    label {
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .alert-danger {
        padding: 8px 12px;
        font-size: 14px;
    }
    .form-well {
        padding: 20px;
    }
    label {
        font-size: 14px;
    }
    small.form-text {
        font-size: 12px;
    }
}